* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 10px;
}

img {
  width: 300px;
}

p,
li {
  margin: 0.5em 0;
}
@media (min-width: 1000px) {
  .wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

section {
  margin: 2em 0;
}

.scene {
  width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid red;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  display: inline-block;
}
.box {
  width: 10%;
  aspect-ratio: 1/1;
  display: inline-block;
}

.red {
  background-color: red;
  translate: 50% 130%;
  scale: 1 1.5;
}
.green {
  background-color: green;
  rotate: 45deg;
  translate: 56% 200%;
  scale: 2.8;
}
.blue {
  background-color: blue;
  translate: -550% 300%;
}
.yellow {
  background-color: yellow;
  scale: 4 3;
  translate: -50% 350%;
}
.purple {
  background-color: purple;
  translate: -400% -30%;
  scale: 0.4;
}
.black {
  background-color: black;
  translate: -450% 10%;
  scale: 0.2;
}
.pink {
  background-color: pink;
  translate: -80% 400%;
  scale: 1 2;
}
